# Ignore test data unrelated to the code itself
*.[Ee][Rr][Rr]
*.[Tt][Mm][Pp]
*.[Vv][Gg][Mm]
*.[Vv][Gg][Zz]
*.[Oo][Bb][Jj]
*.[Ee][Xx][Ee]
*.[Pp][Ll][Ss]
*.[Ll][Nn][Kk]
*.[Cc][Oo][Nn][Ff]
*.kate-swp
_BUILD.BAT
_build.sh
_RUN.BAT
_run.sh
backup/
notes/
releases/
